run = "node main.js"
language = "nodejs"
entrypoint = "main.js"
hidden = [".config", "package-lock.json"]
compile = true
buildCommand = ""

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"
syntax = "javascript"

[nix]
channel = "stable-21_11"

[env]
NODE_ENV = "development"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".config"]

[deployment]
run = ["sh", "-c", "node main.js"]
deploymentTarget = "cloudrun"
ignorePorts = false