run = "node main.js"
entrypoint = "main.js"
modules = ["nodejs-20", "python-3.11", "postgresql-16", "python3"]

[nix]
channel = "stable-22_11"
packages = ["freetype", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "zlib"]

[deployment]
run = "node main.js"
deploymentTarget = "autoscale"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 33855
externalPort = 3000

[[ports]]
localPort = 38343
externalPort = 3002

[[ports]]
localPort = 40517
externalPort = 3001

[[ports]]
localPort = 43755
externalPort = 4200

[[ports]]
localPort = 46309
externalPort = 3003

[agent]
integrations = ["javascript_stripe:1.0.0", "javascript_openai:1.0.0"]

[objectStorage]
defaultBucketID = "replit-objstore-f95b4cf3-0db7-40d1-9680-54f5b997ed65"

[userenv]

[userenv.shared]

[userenv.development]
TESTING_STRIPE_SECRET_KEY = "sk_test_disabled"
TESTING_VITE_STRIPE_PUBLIC_KEY = "pk_test_disabled"
