run = "node main.js"
entrypoint = "main.js"
modules = ["nodejs-20", "python-3.11", "postgresql-16", "python3"]

[nix]
channel = "stable-22_11"
packages = ["freetype", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "zlib"]

[deployment]
run = "node main.js"
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3002
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3002

[[ports]]
localPort = 5002
externalPort = 3001

[[ports]]
localPort = 8080
externalPort = 8080

[agent]
integrations = ["javascript_stripe==1.0.0"]

[objectStorage]
defaultBucketID = "replit-objstore-f95b4cf3-0db7-40d1-9680-54f5b997ed65"
