run = "node main.js"
entrypoint = "main.js"
modules = ["nodejs-20"]

[nix]
channel = "stable-22_11"

[deployment]
run = "node main.js"
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3001
externalPort = 3001

[agent]
integrations = ["javascript_openai:1.0.0"]