<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><!-- PAGE_TITLE --></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css">
    <!-- ADDITIONAL_CSS -->
    <style>
        /* Additional styles specific to header that don't warrant being in common.css */
        .navbar-brand {
            display: flex;
            align-items: center;
        }
        
        .navbar-brand img {
            margin-right: 10px;
        }
        
        @media (max-width: 768px) {
            .navbar-brand img {
                width: 30px;
                height: 30px;
            }
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/branding_logo.png" alt="The Current-See Logo" width="40" height="40">
                The Current-See
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/prototype">Prototype</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/merch">Merchandise</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/my-solar">My Solar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/marketplace.html">Login</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Resources
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/whitepapers">White Papers</a></li>
                            <li><a class="dropdown-item" href="/declaration">Solar Declaration</a></li>
                            <li><a class="dropdown-item" href="/founder_note">Founde
  <!-- HEADER_PLACEHOLDER -->
  r's Note</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <!-- CONTENT_STARTS_HERE -->